body {
    background-color: whitesmoke;
    margin: 50px;
    font-family: OCR A Std, monospace;
    /* text-align: center; */
}

input {
    font-family: OCR A Std, monospace;
}

form div {
    padding: 3px;
}

.meme-container {
    position: relative;
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-text,
.btm-text {
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}

.top-text {
    top: 5px;
}

.btm-text {
    bottom: 10px;
}

button {
    position: absolute;
    border-color: #b42323;
    color: #b42323;
    right: 10px;
    top: 10px;
}