{% extends 'base.html' %}

{% block title %}Post{% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>

<p>{{ post.content }}</p>

<div class="row">

    <div class="col-sm-2"><b>Tags:</b></div>

    {% for tag in tags %}
        <div class="col-sm-1"><i><b>{{ tag.name }}</b></i></div>
    {% endfor %}
        
</div>

<div class="row">

    <form>
        <button class="btn btn-default btn-sm"
                formaction="/users/{{ post.user_id }}"
                formmethod="GET">Cancel
        </button>
        <button class="btn btn-primary btn-sm"
                formaction="/posts/{{ post.id }}/edit"
                formmethod="GET">Edit
        </button>
        <button class="btn btn-danger btn-sm"
                formaction="/posts/{{ post.id }}/delete"
                formmethod="POST">Delete
        </button>
    </form>

  
</div>

{% endblock %}